<body class="back">
    <div class="containe back">
        <br>

        <h1 class="center ">REGISTRATION</h1>
        {{#if messages.info}}
        <div class="massage" style="color: red; padding-left:37% ">
            <h1> {{messages.info}}</h1>
        </div>
        {{/if}}

        <br>
       

        <form action="/registration" method="POST" class="input-class">
            <div class="filter">
                <p style="color:white ;" > Eg.. CA 123 123 /CY 123-123 /123-123 EC /123 123 EC </p>
                <div style="font-size:50px;">

                    <input type="text" name="regNumber" class="regNumberEnterd" placeholder="Enter a registration"
                        style="font-size:20px ;">

                </div>

                <div style="padding-right:100px">

                    <button class="addRegNumber btn blue" type="submit">ADD REGNUMBER</button>

                </div>


            </div>
        </form>
        <form action="/filter" method="post">
            <div class="filter">
                <br>
                <div>
                    <select name="town" class="reg">
                        <option value="" disabled selected hidden>SELECT TOWN</option>
                        <option value="CAPE_TOWN" class="dropdown">CAPE TOWN</option>
                        <option value="BELLIVEL" class="dropdown">BELLVILLE</option>
                        <option value="EASTERN_CAPE" class="dropdown">EASTERN CAPE</option>
                        <option value="all" class="dropdown">SHOW ALL</option>


                    </select>
                </div>
                {{!-- <br> --}}
                <button type="submit" class="clearRegNumber">GET TOWN</button>
            </div>
        </form>

        <br></br>

        <div class="regNumbers"
            style="margin-left: 33%; margin-right:33%; "> 


            {{#each regNumbers}}
            <div class="regNumberStyle">{{this.regnumber}}</div>
            {{/each}}


        </div>



        <br><br>


        <div style="margin-left: 40%; margin-right:40%; ">
            <a href="/clear">
                <button class="clearRegNumbers" type="submit">CLEAR ALL DATA</button>
            </a>
        </div>


        <br>

    </div>
    <script src="timeout.js"></script>
</body>