
.regNumberStyle {
    background-color: rgb(191, 153, 191);
    border: 0.1em solid;
    border-radius: 0.25em;
    padding: 1em;
    margin: 1em;
    width: 8em;
    text-align: center;
    font-weight: bold;
    float: left;
}

.massage {
    height: 1em;
    font-weight: bold;
    color: red;
    margin-left: 100px;


}


.regNumberEnterd {
    border-radius: 25px;
    border: 2px solid #609;
    padding: 20px;
    width: 200px;
    height: 15px;


}

.back {
    background-color: rgb(199, 180, 180);
}

.center {
    text-align: center;

}

.filter {
    text-align: center;
   
}

.reg {
    border-radius: 25px;
    border: 2px;
    padding-left: 40px;
    width: 200px;
    height: 50px;
    background-color: lightblue;
    transition-duration: 0.4s;
}

.addRegNumber {
    height: 30px;
    margin-left: 100px;
    margin-top: 40px;
    border-radius: 25px;
    border: 2px solid #609;
    padding: 20px;
    padding-top: 10px;
    width: 200px;
    /* height: 15px; */
    background-color: lightblue;
    transition-duration: 0.4s;
}

.dropdown {
    font-size: 20px;
    /* transition-duration: 0.4s; */
}
.reg:hover{
    background-color: rgb(150, 106, 172);
    color: white;
}

.regNumber {
    background-color: rgb(181, 148, 186);
    border: 0.1em solid;
    border-radius: 0.25em;
    padding: 1em;
    margin: 1em;
    width: 7em;
    text-align: center;
    font-weight: bold;
    float: left;
}

.clearRegNumber {
    margin-top: 40px;
    border-radius: 25px;
    border: 2px solid #609;
    padding: 20px;
    padding-top: 10px;
    width: 200px;
    height: 15px;
    background-color: lightblue;
    transition-duration: 0.4s;
}

.clearRegNumber:hover {
    background-color: rgb(150, 106, 172);
    color: white;
}
.addRegNumber:hover{

    background-color: rgb(150, 106, 172);
    color: white;
}

.clearRegNumbers{
    margin-top: 40px;
    border-radius: 25px;
    border: 2px solid #609;
    padding: 20px;
    padding-top: 10px;
    width: 400px;
    height: 15px;
    background-color: lightblue;
    transition-duration: 0.4s;
}
.clearRegNumbers:hover{
    background-color: rgb(150, 106, 172);
    color: white;
} 